{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-128x128 is-centered">
                            <img class="is-rounded" src="{% static 'images/default_avatar.png' %}" alt="User avatar">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title is-4">{{ user.username }}</p>
                                <p class="subtitle is-6">{{ user.email }}</p>
                            </div>
                        </div>

                        <div class="content">
                            <p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
                            <p><strong>Join Date:</strong> {{ user.date_joined }}</p>
                            <p><strong>Last Login:</strong> {{ user.last_login }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{% url 'edit_profile' %}" class="card-footer-item">Edit Profile</a>
                        <a href="{% url 'change_password' %}" class="card-footer-item">Change Password</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
