<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List of Items</title>
</head>

<body>
    <header>
        <h1>List of Items</h1>
    </header>

    <div>
        <button>Filter</button>
        <!-- <button>
            <a href="{% url 'logisticstart-form' %}">New Listing</a>
        </button> -->
        <button>Edit Listing</button>
    </div>

    <h1>All Logistics Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Type</th>
                <th>Delivery Date</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Phone Number</th>
                <th>Sender Name</th>
                <th>Sender Email</th>
                <th>Sender Phone Number</th>
                <th>Receiver Name</th>
                <th>Receiver Email</th>
                <th>Receiver Phone Number</th>
            </tr>
        </thead>
        <!-- <tbody> -->
            <!-- Example data, this will be dynamically generated -->
            <!-- {% for item in items %} -->
            <!-- <tr>
                <td>{{item.item_name}}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.delivery_date }}</td>
                <td>{{ item.sender_name }}</td>
                <td>{{ item.sender_phone }}</td>
                <td>{{ item.recipient_name }}</td>
                <td>{{ item.recipient_phone }}</td> -->
            <!-- </tr>
            {% endfor %} -->
            <!-- More rows will be added here from the database -->
        <!-- </tbody> -->
    </table>
</body>

</html>
