<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List of Items</title>
</head>

<body>
    <header>
        <h1>List of Items</h1>
    </header>

    <div>
        <button>Filter</button>
        <button>New Listing</button>
        <button>Edit Listing</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Goods Name</th>
                <th>Goods Type</th>
                <th>Goods Delivery Date</th>
                <th>Goods Listing Date</th>
                <th>Sender Name</th>
                <th>Sender Email</th>
                <th>Sender Phone Number</th>
                <th>Receiver Name</th>
                <th>Receiver Email</th>
                <th>Receiver Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example data, this will be dynamically generated -->
            <tr>
                <td>Soap</td>
                <td>Dishwashing Product</td>
                <td>2024-05-01</td>
                <td>2024-05-08</td>
                <td>P&C</td>
                <td>PC@delivery.com</td>
                <td>9137 9211</td>
                <td>A&B Co</td>
                <td>AB@delivery.com</td>
                <td>9137 9211</td>
            </tr>
            <!-- More rows will be added here from the database -->
        </tbody>
    </table>
</body>

</html>
