<!DOCTYPE html>
<html>
<head>
    <title>Add Warehouse</title>
</head>
<body>
    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/workers">Workers</a></button>
    <button><a href="/">Delivery Schedule</a></button>
    <button><a href="/warehouses">Warehouse Details</a></button>


    <div class="container">
        <h1>New Warehouse</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="NewWarehouseListing">Add</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>
