<!DOCTYPE html>
<html>
    <head>
        <title>New Worker</title>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <button><a href="/dashboard">Dashboard</a></button>
        <button><a href="/workers">Workers</a></button>
        <button><a href="/">Delivery Schedule</a></button>
        <button><a href="/warehouses">Warehouse Details</a></button>

        <h1>New Worker</h1>
        <form method="post">
            {% csrf_token %}

            <h3>Worker Details</h3>

            <div>
                <label for="{{ form.worker_name.id_for_label }}">{{ form.worker_name.label }}:</label><br>
                {{ form.worker_name }}
                {% if form.worker_name.errors %}
                    <div class="error">{{ form.worker_name.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.worker_age.id_for_label }}">{{ form.worker_age.label }}:</label><br>
                {{ form.worker_age }}
                {% if form.worker_age.errors %}
                    <div class="error">{{ form.worker_age.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.worker_gender.id_for_label }}">{{ form.worker_gender.label }}:</label><br>
                {{ form.worker_gender }}
                {% if form.worker_gender.errors %}
                    <div class="error">{{ form.worker_gender.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.worker_driving_license.id_for_label }}">{{ form.worker_driving_license.label }}:</label><br>
                {{ form.worker_driving_license }}
                {% if form.worker_driving_license.errors %}
                    <div class="error">{{ form.worker_driving_license.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.worker_phonenumber.id_for_label }}">{{ form.worker_phonenumber.label }}:</label><br>
                {{ form.worker_phonenumber }}
                {% if form.worker_phonenumber.errors %}
                    <div class="error">{{ form.worker_phonenumber.errors }}</div>
                {% endif %}
            </div>

            <h3>Next-of-kin Details</h3>

            <div>
                <label for="{{ form.worker_NOK.id_for_label }}">{{ form.worker_NOK.label }}:</label><br>
                {{ form.worker_NOK }}
                {% if form.worker_NOK.errors %}
                    <div class="error">{{ form.worker_NOK.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.worker_NOK_phonenumber.id_for_label }}">{{ form.worker_NOK_phonenumber.label }}:</label><br>
                {{ form.worker_NOK_phonenumber }}
                {% if form.worker_NOK_phonenumber.errors %}
                    <div class="error">{{ form.worker_NOK_phonenumber.errors }}</div>
                {% endif %}
            </div>

            <br>

            <button type="submit" value="NewWorkerListing">Add Worker</button>
            <button type="reset">Reset</button>
            
        </form>
    </body>
</html>