<!DOCTYPE html>
<head>
    <style>
        *{
            box-sizing: border-box;
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
        .container {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            
        }  
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <title>Dashboard</title>
</head>
<body>
    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/workers">Workers</a></button>
    <button><a href="/">Delivery Schedule</a></button>
    <button><a href="/warehouses">Warehouse Details</a></button>

    <h1>Dashboard</h1>

    <div class="container">
        <div style="background-color:#FFFFFF;">
            <table style="width:100%">
                <h3>Workers</h3>
                    <tr>
                        <th><h5>ID</h5></th>
                        <th><h5>Name</h5></th>
                        <th><h5>Phone Number</h5></th> 
                    </tr>
                    {% for worker in workers %}
                        <tr>
                            <td>{{ worker.id }}</td>
                            <td>{{ worker.worker_name }}</td>
                            <td>{{ worker.worker_phonenumber }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>

        <div style="background-color:#FFFFFF;">
            <table style="width:100%">
                <h3>Warehouses</h3>
                    <tr>
                        <th><h5>Name</h5></th>
                        <th><h5>Postal Code</h5></th>
                        <th><h5>Phone Number</h5></th> 
                    </tr>
                        {% for warehouse in warehouses %}
                            <tr>
                                <td>{{ warehouse.warehouse_name }}</td>
                                <td>{{ warehouse.warehouse_postalcode }}</td>
                                <td>{{ warehouse.warehouse_phonenumber }}</td>
                            </tr>
                        {% endfor %}
                    </tr>
            </table>
        </div>


        {% comment %} <div style="background-color:#D9EEE1;">
            <table style="width:100%">
                <tr>
                    <th>Total Inventory</th>
                </tr>
                <tr>
                    <td>
                        <li>{{ total_listing }}</li>
                    </td>
                </tr>
            </table>
        </div>

        <div style="background-color:#FFC0C7;">
            <table style="width:100%">
                <tr>
                    <th>Total Inventory Value</th>
                </tr>
                <tr>
                    <td>TBC</td>
                </tr>
            </table>
        </div> {% endcomment %}
    </div>
    </form>
</body>
